* {
	margin: 0;
	padding: 0;
	color: #cad2c5;
}
.font {
	font-family: 'Colo Pro', sans-serif;
	font-family: 'Colo Pro Black', sans-serif;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.jumbotron {
	background-color: #354f52;
	width: 100%;
	height: 100vh;
}
.logo {
	max-width: 120px;
}
.logoBig {
	object-fit: cover;
	width: 100%;
	height: 50%;
}
html::-webkit-scrollbar {
	width: 13px;
	background: #354f52;
}
html::-webkit-scrollbar-thumb {
	width: 13px;
	background: #2f3e46;
}
.boton:hover,
.boton {
	background-color: #2f3e46;
}
.productos {
	background-color: #52796f;
}
.pad {
	padding-top: 60px;
	padding-bottom: 60px;
}
.img-qs {
	max-width: 350px;
	object-fit: cover;
	border-radius: 10px;
	border: 3px solid #354f52;
	margin: 30px;
}
.somos {
	flex-direction: row;
	flex-wrap: wrap;
}
.text {
	max-width: 600px;
	padding: 40px;
}
.texto {
	font-size: 1.5rem;
	text-align: center;
}
.servicios {
	background: #354f52;
}
nav {
	backdrop-filter: blur(20px);
	background: #2f3e4600;
}
@media (max-width: 990px) {
	.login {
		margin: auto;
	}
}
.card-info {
	width: 350px;
	height: 350px;
	background-color: #52796f;
	margin: 20px;
}
.tarjetas {
	flex-direction: row;
}
